<header>
    <nav class="navbar">
        <div class="logo">
            <h1>Camilo Aguilar</h1>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/services">Services</a>
            <a href="/contactus">Contact</a>
            <a href="/about">about</a>
        </div>
    </nav>
</header>