<%- include('partials/header.ejs') %>
        
<%- include('partials/main.ejs') %>
<body>

    <section class="intro-section">
        <div class="container">
            <div class="intro">
                <img class="profile-pic" src="/img/logo.png" alt="Camilo's Logo">
                <div class="intro-text">
                    <h2>Mission</h2>
                    <p>
                        My mission as a Tech Dev is to provide innovative solutions. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat risus lacus, non placerat felis convallis nec.
                        Nullam sed urna eget elit viverra fermentum. Aliquam erat volutpat.
                    </p>
                    <h2>Services</h2>
                    <ul>
                        <li>Full Stack Software Development</li>
                        <li>Database Architecture and Analysis</li>
                        <li>DevOps</li>
                        <li>Product Management</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="feedback-section">
        <div class="container">
            <h2>Customer Feedback</h2>
            <blockquote>
                Camilo is very professional and helpful. I would definitely recommend them to anyone looking for innovative software solutions.
            </blockquote>
            <p class="feedback-author">- Camilo Aguilar, CEO</p>
        </div>
    </section>




<%- include('partials/bottom.ejs') %>
<%- include('partials/footer.ejs') %>



